*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
header{
    width: 100%;
    display:flex; //ativa as caixas flexiveis
    justify-content: flex-start; // eh o padrao. os itens sao postos no come;o do eixo principal
justify-content: flex-end; // os itens sao postos no final do eixo principal
justify-content: center; //os itens sao postos no meio do eixo principal
justify-content: space-around; // O primeiro espa;o vazio e o ultimo sao iguais ao do meio 
justify-content: space-evenly; // torna todos os espa;amento entre todos os itens iguais
justify-content: space-between; // o primeiro item e o ultimo item vai ficar encostado nas paredes e o restante no meio com espa;o igual
height: 15vh;    
align-items: flex-start; // os itens sao postos no come;o do eixo y (vertical)
align-items: flex-end; // os itens sao postos no final do eixo y (vertical)
align-items: center; // os itens sao postos no meio do eixo y (vertical)
}
.caixaLogo{
// border: solid;
display: flex;
justify-content: space-evenly;
width: 20%;
align-items: center;

}

h1{
    // border: solid
    font-size: 3rem;
}
nav{
    // border: solid green;
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    align-items: center;
}

a{
    text-decoration: none;
    font-size: 1.5rem;
    color: #4b5563;
}
.btnVerdeHeader{
    background-color: #21C05C;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 18px;
    border-radius: 6px;
}

//----- primeira section --------------

.primeiraSection{

    color: #1f2937;
    border: solid red;
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-content: space-between;
    height: 60vh;
    margin-left: 2vh;

    section{
        border: solid green;
        height: 60vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        h2{
            font-size: 5.05rem;
            font-weight: 700;
            width: 110%;
            border: solid red;
            
        }
        p{
            font-size: 1.55rem;
            width: 85%;
border: solid blue;


        }
    }
}

.boxBtnsPrimeiraSection{
    border: solid rgb(0, 225, 255);
    width: 70%;
    display: flex;
    justify-content: space-around;

    bottom{
        height: 62px;
        width: 189.81px;
        cursor: pointer;
        // se fizer desse jeito fica largua x altura
    }
      
}
.btbBranco{
    border-radius: 15px;
    border-color: #2563eb;
    color: #2563eb;
    background-color: white;
    height: 62PX;
    width: 189.81px;
    cursor: pointer;
}

.btnVerde{
    border-radius: 15px;
    border: none;
        color: rgb(255, 255, 255);
        background-color: #16a34a;
       height: 62px;
        width: 189.81px;
        cursor: pointer;
}

//------section dados numeros--------//

.dadosnumericos{

    background-color: rgba(165, 154, 154, 0.164);
    display: flex;
    justify-content: space-around;
    text-align: center;
    height: 65px;
    width: 200vh;
    align-items: center;
    
    div{
        font-size: 20px;
        border: none;
        height: 65px;
        width: 100vh;
        justify-content: space-around;
        color: #16a34a;
        
        
    }
}




//----- primeira section --------------

.ProdutosDisponiveis{
    background-color: #f3f5f8;
    height: 85vh;
    display: flex;
    justify-content: space-evenly;
  align-items: center;

    article{
        border: solid #16a34a;
        width: 20%;
        height: 60vh;
        display: flex;
    flex-direction: column; 
    justify-content: space-between;
    align-items: center;
 

img{
    width: 100%;
    height: 30vh;
    border: solid
}
button{
    width: 70%;
    height: 7vh;
    cursor: pointer;
    margin-bottom: 2rem;
    background-color: #16a34a;
    color: #ffffff;
    font-weight: 900;
    border-radius: 35px;
    font-size: 1.0rem;
    text-align: center;


}
        
    }

}
.teste{
    height: 0.5vh;
    
    align-items: center;
    margin-bottom: 2rem;
    padding-left: 25px;
    p{
        padding-left: 90px;
        font-size: 1.5rem
    }

}



.cadastro{
        background-color: green; 
        height: 100%;
        width: 1000vh;
        display: flex;
        justify-content: center;
        align-items: center;


}

//Responsivo

//Estrutura com limitador, mínimo de px e máx de px
// @media(min-width: ;) and (max-width: ;){

// }

//Quero que você aplique esse estilo em telas de 0px até 500px

//Smartphone max: 500px

@media(max-width: 500px){

header{
    display: flex;
    flex-direction: column;
    height: 20vh;
    
}
.caixalogo{
    border: solid;
    width: 70%;

}

nav{
    border:solid;
    width: 100%;
}
a{
    font-size: 1rem;
}


}
    
//--------------------section dados numericos---------------//






//-----------------section pordutos disponioveis------------//

.ProdutosDisponiveis{

    border-color: #16a34a;
}
