*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
header{
    width: 100%;
    display:flex; //ativa as caixas flexiveis
    justify-content: flex-start; // eh o padrao. os itens sao postos no come;o do eixo principal
justify-content: flex-end; // os itens sao postos no final do eixo principal
justify-content: center; //os itens sao postos no meio do eixo principal
justify-content: space-around; // O primeiro espa;o vazio e o ultimo sao iguais ao do meio 
justify-content: space-evenly; // torna todos os espa;amento entre todos os itens iguais
justify-content: space-between; // o primeiro item e o ultimo item vai ficar encostado nas paredes e o restante no meio com espa;o igual
height: 15vh;    
align-items: flex-start; // os itens sao postos no come;o do eixo y (vertical)
align-items: flex-end; // os itens sao postos no final do eixo y (vertical)
align-items: center; // os itens sao postos no meio do eixo y (vertical)
}
.CaixaLogo{
border: solid;
display: flex;
justify-content: space-between;
width: 15%;
align-items: center;

}

h1{
    border: solid
}
nav{
    border: solid green;
    display: flex;
    justify-content: space-around;
    width: 40%;
    align-items: center;
}

a{
    text-decoration: none;
    font-size: 1.3rem;
    color: white;
}
.btnVerdeHeader{
    background-color: #21C05C;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 18px;
    border-radius: 6px;
}

//----- primeira section --------------

.primeiraSection{
    border: solid red;
    display: flex;
    justify-content: space-around;
    height: 70vh;
    align-items: center;
    justify-content: space-between;

    section{
        border: solid green;
        height: 60vh;
        display: flex;
        flex-direction: column;

        h2{
            font-size: 1.25rem;
            width: 50%;
            font-weight: 700;
            border: solid red;
            
        }
    }
}

.boxbtnsprimeiirasection{
    border: solid purple;
    width: 50%;
    display: flex;
    justify-content: space-around;

    bottom{
        cursor: pointer;
        padding: 40px 45px; 
        // se fizer desse jeito fica largua x altura
    }
    
}






//----- primeira section --------------

.ProdutosDisponiveis{
    background-color: aquamarine;
    height: 80vh;
    display: flex;
    align-items: center;

    article{
        border: solid red;
        width: 20%;
        height: 50vh;
        display: flex;
        //flex-direction: row; // os itens sao organizados em forma de linha da esqueda pra direita (row-verse os itens sao organizados em forma de linha da direita pra esquerda)
flex-direction: column; // os itens sao organizados em coluna de cima pra baixo (column-reverse os itens sao organizados em coluna de baixo pra cima)
justify-content: center;
justify-content: space-evenly;
align-items: center;

img{
    width: 100%;
    height: 20vh;
    border: solid
}
button{
    width: 55%;
    height: 3.5vh;
    cursor: pointer;
    margin-bottom: 2rem;
    background-color: green;
    color: white;
    border-radius: 35px;

}
        
    }

}

// responsivo

//celular que tenha max 500px

// @media(min-widgth: ;) and (max-width: :)[


//]

@media(max-width: 500px){

header{
    display: flex;
    flex-direction: column;
    height: 20vh;
    
}
.caixalogo{
    border: solid;
    width: 70%;

}

nav{
    border:solid;
    width: 100%;
}
a{
    font-size: 1rem;
}


}
    