*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
header{
    width: 100%;
    display:flex; //ativa as caixas flexiveis
    justify-content: flex-start; // eh o padrao. os itens sao postos no come;o do eixo principal
justify-content: flex-end; // os itens sao postos no final do eixo principal
justify-content: center; //os itens sao postos no meio do eixo principal
justify-content: space-around; // O primeiro espa;o vazio e o ultimo sao iguais ao do meio 
justify-content: space-evenly; // torna todos os espa;amento entre todos os itens iguais
justify-content: space-between; // o primeiro item e o ultimo item vai ficar encostado nas paredes e o restante no meio com espa;o igual
height: 15vh;    
align-items: flex-start; // os itens sao postos no come;o do eixo y (vertical)
align-items: flex-end; // os itens sao postos no final do eixo y (vertical)
align-items: center; // os itens sao postos no meio do eixo y (vertical)
}
.caixaLogo{
// border: solid;
display: flex;
justify-content: space-evenly;
width: 20%;
align-items: center;

}

h1{
    // border: solid
    font-size: 3rem;
}
nav{
    // border: solid green;
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    align-items: center;
}

a{
    text-decoration: none;
    font-size: 1.5rem;
    color: #4b5563;
}
.btnVerdeHeader{
    background-color: #21C05C;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 18px;
    border-radius: 6px;
}

//----- primeira section --------------

.primeiraSection{
    border: solid red;
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-content: space-between;
    height: 70vh;
    margin-left: 2vh;

    section{
        border: solid green;
        height: 60vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        h2{
            font-size: 3.15rem;
            font-weight: 700;
            width: 50%;
            border: solid red;
            
        }
        p{
            font-size: 1.25rem;
            width: 65%;
border: solid blue;


        }
    }
}

.boxBtnsPrimeiraSection{
    border: solid purple;
    width: 50%;
    display: flex;
    justify-content: space-around;

    bottom{
        cursor: pointer;
        padding: 40px 45px; 
        // se fizer desse jeito fica largua x altura
    }
    
}






//----- primeira section --------------

.ProdutosDisponiveis{
    background-color: #F3F5F8;
    height: 85vh;
    display: flex;
    justify-content: space-evenly;
  justify-content: space-between;
  justify-content: space-around;
  align-items: flex-end;
  align-items: flex-start;
  align-items: center;

    article{
        border: solid red;
        width: 20%;
        height: 60vh;
        display: flex;
        //  flex-direction: row; //Padrão (fileira). Os itens são organizados em forma de linha da esquerda para a direita.
    // flex-direction: row-reverse; //Os itens são organizados em forma de linha (fileira) da direita para a esquerda.
    flex-direction: column; //Os itens são organizados em coluna, de cima para baixo.
    // flex-direction: column-reverse; //Os itens são organizados em forma de colunas iniciando de baixo para cima.

    //justify-content: center;
    //justify-content: space-evenly;
    //justify-content: space-around;
    justify-content: space-between;

    align-items: center;
    //align-items: flex-start;
    //align-items: flex-end;

img{
    width: 100%;
    height: 30vh;
    border: solid
}
button{
    width: 55%;
    height: 5vh;
    cursor: pointer;
    margin-bottom: 2rem;
    background-color: #16a34a;
    color: #ffffff;
    font-weight: 900;
    border-radius: 35px;
    font-size: 1.2rem;

}
        
    }

}

//Responsivo

//Estrutura com limitador, mínimo de px e máx de px
// @media(min-width: ;) and (max-width: ;){

// }

//Quero que você aplique esse estilo em telas de 0px até 500px

//Smartphone max: 500px

@media(max-width: 500px){

header{
    display: flex;
    flex-direction: column;
    height: 20vh;
    
}
.caixalogo{
    border: solid;
    width: 70%;

}

nav{
    border:solid;
    width: 100%;
}
a{
    font-size: 1rem;
}


}
    